
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  background: #111;
  color: #fff;
}


.header {
  width: 100%;
  padding: 18px 40px;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #222;
}

.logo h2 {
  font-size: 26px;
  font-weight: 600;
  color: #00eaff;
}

.headercontent {
  display: flex;
  gap: 25px;
  list-style: none;
}

.headercontent a {
  text-decoration: none;
  font-size: 17px;
  padding: 6px 10px;
  color: #fff;
  border-radius: 4px;
  transition: 0.3s ease;
}

.headercontent a:hover {
  background: #00eaff;
  color: #000;
}

.hportfolio {
  position: relative;
}

.portfolio {
  display: none;
  position: absolute;
  top: 26px;
  width: 160px;
  background: #000;
  border: 1px solid #00eaff;
  border-radius: 6px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.portfolio ul li a {
  display: block;
  padding: 8px 15px;
  color: #fff;
}

.portfolio ul li a:hover {
  background: #00eaff;
  color: #000;
}

.hportfolio:hover .portfolio {
  display: block;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  text-align: center;
  color: #00eaff;
  background: linear-gradient(135deg, #000, #111);
  background-repeat: no-repeat
}

.home-content h1,
.home-content p,
.home-content button {
  opacity: 0;
  animation: fadeUp 1.5s ease-out forwards;
}

.home-content h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 15px;
  animation-delay: 0.3s;
}

.home-content p {
  font-size: 20px;
  margin-bottom: 20px;
  animation-delay: 0.6s;
}

.home-content button {
  padding: 12px 28px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #00eaff;
  color: #000;
  transition: 0.3s ease;
  animation-delay: 0.9s;
}

.home-content button:hover {
  background: #fff;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.showcase {
  width: 100%;
  padding: 90px 40px 40px;
  background: #000;
  margin-top: 80px;
}

.showcase h1 {
  text-align: center;
  font-size: 32px;
  color: #00eaff;
  margin-bottom: 40px;
}

.showcase-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.showcase-item {
  width: 100%;
  height: 230px;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #222;
  opacity: 0;
  animation: fadeInScale 1s forwards;
}

.showcase-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.showcase-item:hover img {
  transform: scale(1.12);
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.whyus {
  width: 100%;
  padding: 80px 40px;
  background: #111;
  border-top: 1px solid #222;
}

.section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  color: #00eaff;
}

.whyus-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.whyus-box {
  background: #000;
  padding: 30px;
  border-radius: 14px;
  border: 1px solid #222;
  text-align: center;
  transition: 0.4s ease;
  transform: translateY(40px);
  opacity: 0;
}

.whyus-box i {
  font-size: 45px;
  margin-bottom: 15px;
  color: #00eaff;
}

.whyus-box h3 {
  color: #00eaff;
  margin-bottom: 12px;
  font-size: 22px;
}

.whyus-box p {
  font-size: 15px;
  color: #ccc;
  line-height: 1.6;
}

.whyus-box:hover {
  border-color: #00eaff;
  transform: translateY(-10px);
  box-shadow: 0 0 18px rgba(0, 234, 255, 0.3);
}


.fade-up2 {
  animation: fadeUp2 1.3s ease forwards;
}

@keyframes fadeUp2 {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  width: 100%;
  background: #000;
  padding: 50px 40px 20px;
  border-top: 1px solid #222;
  color: #ccc;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-section h2 {
  color: #00eaff;
  font-size: 26px;
  margin-bottom: 15px;
}

.footer-section h3 {
  color: #00eaff;
  margin-bottom: 12px;
  font-size: 20px;
}

.footer-section p {
  margin-bottom: 8px;
  line-height: 1.6;
  font-size: 15px;
}

.footer-section i {
  color: #00eaff;
  margin-right: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #00eaff;
  font-size: 20px;
  color: #00eaff;
  transition: 0.3s ease;
}

.social-icons a i {
  margin-left: 10px;
}

.social-icons a:hover {
  background: #9eecf3;
  transform: translateY(-5px);
}

.footer-bottom {
  border-top: 1px solid #222;
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
}


@media (max-width: 1440px) {
  .header {
    padding: 18px 30px;
  }

  .main {
    padding: 35px;
  }

  .about-company {
    margin: 0 80px 50px;
  }

  .head {
    gap: 60px;
    margin: auto 80px;
  }

  .pic img {
    width: 420px;
    height: 400px;
  }

  .team-grid {
    padding: 0 80px;
    gap: 35px;
  }
}


@media (max-width: 1024px) {
  .header {
    padding: 16px 25px;
  }

  .main {
    padding: 30px;
  }

  .about-company {
    margin: 0 50px 40px;
  }

  .head {
    gap: 40px;
    margin: auto 50px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .pic img {
    width: 350px;
    height: 350px;
  }

  .team-grid {
    padding: 0 50px;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 14px 20px;
  }

  .headercontent {
    gap: 15px;
    font-size: 15px;
  }

  .main {
    padding: 25px 20px;
  }

  .about-company {
    margin: 0 20px 30px;
  }

  .head {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    margin: 0 20px;
  }

  .pic img {
    width: 300px;
    height: 300px;
  }

  .team-grid {
    padding: 0 20px;
    gap: 25px;
  }

  .team h2 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 12px 15px;
    flex-direction: column;
    height: auto;
    gap: 10px;
  }

  .header h2 {
    font-size: 20px;
  }

  .headercontent {
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
  }

  .main {
    padding: 20px 15px;
  }

  .about-company {
    margin: 0 10px 20px;
  }

  .head {
    gap: 20px;
  }

  .pic img {
    width: 250px;
    height: 250px;
  }

  .team-grid {
    padding: 0 10px;
    gap: 20px;
  }

  .team-member img {
    height: 200px;
  }

  .team h2 {
    font-size: 22px;
  }

  footer {
    padding: 20px 10px;
    font-size: 13px;
  }
  .home-content{
    margin-top: 150px;
  }
}

